@import "legacy/legacy";

@import "modules/button";
@import "modules/forms";
@import "modules/menu";
@import "modules/speakers";
@import "modules/blocks";

@import "media/mobile";
.page-content {
  background: #fff;
}
.tabs ul.primary li a {
  display: inline;
}
.node--type-article #page-title {
  display: none;
}
table {
  width: 100%;
}
#header {
  background: #000;
  padding: 20px 0;
}
body.path-frontpage #header {
  background: none;
  &.scrolled {
    background: #000;
  }
}
body .page-content {
  padding-top: 90px;
}
body.path-frontpage .page-content {
  padding-top: 0;
}
