article.profile {
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
    text-transform: none;
  }
  .field-label {
    display: none;
  }
  img {
    height: auto;
    border-radius: 1000px;
  }
}
