@media only screen and (max-width: 767px) {
  .tabs ul.tabs.primary {
    padding: 0 5px;
    li.active,
    li {
      display: block;
      a {
        display: block;
        padding: 5px;
        margin: 0;
      }
    }
  }
  .session-meta {
    .field-wrapper.first {
      margin-top: 0;
    }
    label {
      font-size: 0px;
      border: none;
      float: left;
      height: 25px;
    }
    .field-wrapper div {
      line-height: 25px;
    }
  }
  #block-featuredspeakers h2, #block-speaker-block h2 {
    font-size: 2em;
  }
}
