#block-speaker-block {
  h2 {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 4.5em;
    font-weight: 900;
    letter-spacing: -3px;
    font-family: open sans;
    line-height: 1;
    color: #000;
  }
}
@media (max-width: 480px) {
  #block-speaker-block {
    h2 {
      font-size: 2em;
      letter-spacing: -2px;
    }
  }
}
.contact-address {
  text-align: center;
}
.address-wrap a.loc {
  margin: 20px auto;
}
#block-contact-block #contact {
  background: #000;
  color: #fff;
  padding-top: 40px;
  .section-heading {
    padding-bottom: 30px;
    .title {
      color: #fff;
    }
  }
}
#block-oslo2015-powered {
  a {
    color: #fff;
    border-bottom: 1px solid #eee;
  }
}
