.view-id-sponsor_list {
  position: relative;
  padding:100px 0 0px !important;
  .view-content {
    display: block;
    position: relative;
  }
  .views-row {
    display: inline-block;
    height: 538px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 24%;
    .views-field-title {
      line-height: 1;
      margin: 0 0 5px;
      font-size: 2.4em;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      width: 100%;
      padding-top: 150px;
    }
    .views-field-field-sponsor-logo {
      position: absolute;
      top: 0px;
      text-align: center;
      width: 100%;
      background: #fff;
      img {
        width: 100%;
        height: auto;
      }
    }
    .views-field {
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
      .views-field-title {
        padding-top: 10px;
      }
      .views-field-field-sponsor-logo {
        opacity: .1;
        top: 140px;
      }
    }
  }
}
@media (max-width: 480px) {
  .view-id-sponsor_list .views-row {
    width: 100%;
    height: auto;
    .views-field-field-sponsor-logo {
      position: static;
    }
    .views-field {
      transition: none;
      top: inherit;
      padding-top: inherit;
      opacity: inherit;
    }
  }
}
