.region-content {
  padding: 2em 0 0;
  .content {
    padding-bottom: 2em;
  }
}
.page-content {
  background: #fff;
}
table {
  width: 100%;
}
#header {
  padding: 20px 0;
}
body.path-frontpage #header {
  background: none;
}
body .page-content {
  padding-top: 90px;
}
body.path-frontpage .page-content {
  padding-top: 0;
}
.section-heading {
  margin: 0;
  padding-bottom: 0;
  max-width: none;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style-type: disc;
  padding: 0 20px;
}
