<div class="row">
  <div class="col-md-5">
    <h2>{%trans%}Prices{%endtrans%}</h2>
    <p>{%trans%}The prices varies if you are a member of the Norwegian Drupal association, or if you want to become a member at the same time.{%endtrans%}</p>
  </div>
  <div class="col-md-7 price-col">
  {% for price in prices %}
    <div class="row">
      <div class="col-md-9">
        <div class="price-wrap">
          <h5>{{price.text}}</h5>
          <h5 class="price">{{price.price}}</h5>
        </div>
      </div>
      <div class="col-md-3">
        <a class="btn btn-lg btn-primary btn-block">Register</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
