'<div class="section" id="contact">
  <div class="container">
    <div class="row text-center">
      <div class="section-heading">
        <h2 class="title"><span>{%trans%}Sign up!{%endtrans%}</span></h2>
        <p>
          {%trans%}Price is either 200,- for members in the Norwegian Drupal Association or 300,- for non-members. Membership costs 200,-. You can register now and pay later.{%endtrans%}
        </p>
        <p class="subtitle">
          {{register_link}}
          {{session_link}}
        </p>
      </div>
    </div>
  </div>
</div>'
