<div class="section" id="map-inner"><!-- heading -->
  <div class="contact-address clearfix bg-parallax2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <div class="address-wrap clearfix">
        <h5>{%trans%}Get in touch{%endtrans%}</h5>

        <h3>Oslo</h3>
        <a class="loc fancybox" href="#">{%trans%}View Location{%endtrans%}</a></div>
        </div>

        <div class="col-md-6">
        <div class="address-wrap clearfix">
        <h5>{%trans%}Email us at{%endtrans%}</h5>

        <h3>post@drupalnorge.no</h3>

        <h3>+47 98 04 24 06</h3>

        <ul><li><a href="https://twitter.com/drupal_norge"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.facebook.com/drupalnorge"><i class="fa fa-facebook"></i></a></li>          </ul></div>
        </div>
      </div>
    </div>
  </div>
</div>
